@media screen and (min-width: 768px) {
  .holiday {
    padding-top: 222px;
    background-image: url("../img/bg-med.png"),
      linear-gradient(rgb(26, 25, 21), rgb(26, 25, 21));
    padding-bottom: 212px;
  }

  header {
    padding-top: 38px;
  }

  .ph-md-44 {
    padding: 0 44px;
  }

  .navi {
    margin-bottom: 0;
  }

  .heading {
    font-size: 52px;
    margin-bottom: 24px;
  }

  .postheading {
    font-size: 24px;
    margin-bottom: 34px;
  }

  .postheading_br {
    display: inline;
  }

  .button-find {
    max-width: 226px;
  }

  .partner {
    padding-top: 92px;
  }

  .mb-md-30 {
    margin-bottom: 30px;
  }

   .partners-list-item {
    width: 236px;
  }

  .partners-list-item:nth-child(2n + 1) {
    padding-bottom: 58px;
  }

  .partners-list-item:nth-child(2) {
    padding-bottom: 0px;
  }

  .partners-list-item:nth-child(2) {
    order: 1;
  }
  .partners-list-item:nth-child(4) {
    order: 2;
  }
  .button-other {
    max-width: 192px;
  }
}

@media screen and (min-width: 1200px) {
  .background {
    background-image: url("../img/bg-lg.png"),
      linear-gradient(rgb(26, 25, 21), rgb(26, 25, 21));
  }

  .partners-list .partners-list-item {
    width: 220px;
    margin: 0;
    padding: 0;
  }

  .partners-list-item:nth-child(2) {
    order: 1;
  }
  .partners-list-item:nth-child(4) {
    order: 2;
  }
}
