@media (max-width: 699px) {
  .navi {
    margin-bottom: 118px;
  }

  .postheading_br {
    display: block;
  }

  .partners-list-item:not(:last-child) {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 660px;
  }

  header {
    top: 38px;
  }

  .main-nav {
    flex-direction: row;
    height: 36px;
    margin: 0 auto;
  }

  .navi {
    margin-left: auto;
    margin-right: 0;
  }

  .holiday {
    background-image: url("../img/bg-med.png"),
      linear-gradient(rgb(26, 25, 21), rgb(26, 25, 21));
    padding-top: 222px;
    padding-bottom: 212px;
  }

  .heading {
    font-size: 52px;
    margin-bottom: 38px;
  }

  .heading_br {
    display: block;
  }

  .postheading {
    font-size: 24px;
    margin-bottom: 36px;
  }

  .partner {
    padding-top: 74px;
  }

  .heading-partner {
    margin-bottom: 34px;
  }

  .partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 38px;
  }

  .partners-list-item {
    width: 236px;
  }

  .partners-list-item:nth-child(2) {
    order: 1;
  }

  .partners-list-item:nth-child(4) {
    order: 2;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .partners-list-item:nth-child(2n + 1) {
    margin-bottom: 58px;
  }

  .partners-list-item:nth-child(2) {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  .partners-list-item:nth-child(1) {
    margin-right: 20px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 940px;
  }
  
  .holiday {
    background-image: url("../img/bg-lg.png"),
      linear-gradient(rgb(26, 25, 21), rgb(26, 25, 21));
  }
  
  .partners-list .partners-list-item {
    width: 220px;
  }

  .button-other {
    width: 196px;
  }
}
