html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

header {
  height: 90px;
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 300;
  color: #555252;
  text-transform: uppercase;
  line-height: 90px;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.main-nav {
  margin: 0 auto;
}

.navi {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 40px;
}

.navi-item {
  float: left;
}

.navi-item:not(:last-child) {
  margin-right: 32px;
}

.navi-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans";
  color: #0f0101;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.786;
}

.navi-link:hover,
.navi-link:focus {
  color: #1abc9c;
}

.slider {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

.slider::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 2, 0.522);
  width: 100%;
  height: 100%;
}

.slider__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.slider__image {
  display: block;
  margin: 0 auto;
  object-fit: contain;
  object-position: top;
}

.slider__heading {
  width: max-content;
  margin: 0 auto;
}

.slider__text {
  font-family: "Roboto", serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.slider__text--main {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.367;
  margin-bottom: 11px;
}

.slider__text--common {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 54px;
}

.slider__controls {
  position: absolute;
  width: 100%;
  top: 24px;
}

.slider__btn {
  display: block;
  background-color: rgba(78, 198, 171, 0.651);
  width: 104px;
  height: 104px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 100px;
  font-family: "Open Sans";
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 100px;
  text-align: center;
  border: none;
}

.slider__btn--next {
  float: right;
}

.slider__btn--prev {
  float: left;
}

.slider__btn:hover {
  background-color: rgb(78, 198, 171);
}

.collection {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: rgb(233, 240, 253);
}

.heading {
  font-size: 48px;
  font-family: "Roboto";
  font-weight: 900;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  line-height: 0.667;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 86px;
}

.heading::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #1abc9c;
}

.collection-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.collection-list-item {
  width: 255px;
  float: left;
}

.collection__item-foto{
  position: relative;
}

.collection-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.collection-item-link {
  display: block;
  position: relative;
  text-decoration: none;
}

.collection-name,
.price {
  height: 40px;
  font-size: 18px;
  font-weight: 900;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 40px;
}

.collection-name {
  background-color: rgb(50, 50, 50);
  padding-left: 14px;
}

.price {
  background-color: rgba(255, 255, 255, 0.439);
  width: 54px;
  text-align: center;
  float: right;
}

.overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  border-width: 10px;
  border-color: rgba(255, 255, 255, 0.549);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.549);
  background-clip: padding-box;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 80px;
  z-index: -1;
}

.icon-block {
  list-style: none;
  width: 168px;
  padding: 0;
  margin: 0 auto;
}

.icon {
  float: left;
}

.icon:nth-child(-n + 2) {
  margin-right: 8px;
}

.icon:not(:last-child) {
  margin-bottom: 7px;
}

.overlay__btn {
  display: block;
  width: 50px;
  height: 50px;
  background: none;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  font-family: "Open Sans";
  font-weight: 300;
  color: white;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.overlay__btn--big {
  width: 166px;
  background-color: #323232;
}

.big-icon {
  float: left;
  line-height: 48px;
}

.big-icon:first-child {
  padding-left: 12px;
  margin-right: 20px;
}

.add-to {
  font-size: 14px;
  text-transform: uppercase;
}

.collection-name:hover {
  background-color: rgb(26, 188, 156);
  cursor: pointer;
}

.collection__item-foto:hover > .overlay {
  z-index: 10;
  opacity: 1;
}

.overlay__btn:hover {
  background-color: #1abc9c;
}

.copyright {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(254, 254, 254);
  line-height: 88px;
  text-align: center;
  background-color: rgb(50, 50, 50);
  height: 88px;
}

.copyright p {
  margin: 0;
  padding: 0;
}

.themen {
  text-decoration: none;
  color: #46bfa9;
}

.themen:hover {
  text-shadow: 2px 2px 4px rgb(187, 187, 187);
}
