html {
  box-sizing: border-box;
  background-color: rgb(241, 243, 255);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Playfair Display", serif;
  width: 1200px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  padding-top: 73px;
}

section {
  box-sizing: content-box;
  padding: 1px;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 98px;
  font-size: 0;
}

nav li:nth-child(1) {
  margin-right: 122px;
}

nav li:nth-child(2) {
  margin-right: 103px;
}

nav li:nth-child(3) {
  margin-right: 95px;
}

nav li {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  text-transform: uppercase;
}

a:hover,
a:focus {
  color: #03a9f4;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 150px;
  font-size: 0px;
}

section li {
  display: inline-block;
  width: 421px;
  margin-bottom: 130px;
}

section li:nth-child(2n + 1) {
  margin-right: 61px;
}

section li:nth-last-child(-n + 2) {
  margin-bottom: 52px;
}

article img {
  margin-bottom: 30px;
}

.tag {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #b4ad9e;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

article h2 {
  font-size: 30px;
  color: #626262;
  margin: 0;
  margin-bottom: 38px;
}

article p {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  margin: 0;
}

button {
  display: block;
  width: 164px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: 1px solid #626262;
  background: #fff;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 70px;
}
