html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  background-color: rgb(223, 231, 235);
  margin: 0 auto;
  padding: 30px;
}

h1 {
  margin-top: 0;
}

.menu {
  background-color: rgb(190, 164, 164);
  font-size: 0px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  font-size: 18px;
}

.menu li:last-child {
  margin: 0;
}

.menu li:hover {
  color: rgb(243, 223, 205);
}

.entry {
  width: 470px;
  background-color: #fff;
  margin: 0 auto;
  padding-left: 25px;
  padding-top: 30px;
}
.entry img {
  margin-bottom: 30px;
}

.entry .tag {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-transform: uppercase;
  color: #b8b7b2;
}

.entry h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.entry p {
  margin: 0;
  padding-bottom: 30px;
}

.double_entry {
  width: 960px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  margin: 0 auto;
}

.double_entry li:first-child {
  margin-right: 20px;
}

.double_entry li {
  display: inline-block;
  font-size: 16px;
}
