.friendListItem {
  display: flex;
  align-items: center;
}

.friendListItem:not(:last-child) {
  margin-bottom: 15px;
}

.avatar {
  margin-right: 20px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 15px;
}

.statusOnLine {
  composes: status;
  background-color: teal;
}

.statusOffLine {
  composes: status;
  background-color: palevioletred;
}
